html, body {
  height: 100%;
  width: 100%;
}
.main_cont{
  display: flex;
  justify-content: center;
  border:yellow 5px solid;
  margin:10px;
  height:99%;
  width:99%;
}
.cont_row_1{
  display: flex;
  flex-direction: column;
  border:blue 5px solid;
  width:300px;
}
.bigsec1{
  display: flex;
  flex-direction: row;
  border:green 5px solid;
}
.img{
  border:purple 5px solid;
  width:150px;
  height:150px;
}
.noe{
  display: flex;
  flex-direction: column;
  border: 5px solid red;
  width:150px;
  height:150px;
}
.name{
  border:orange 5px solid;
  font-size:10px;
  height:60px;
}
.occ{
  border:orange 5px solid;
  font-size:8px;
  height:45px;
}
.edu{
  border:orange 5px solid;
  font-size:8px;
  height:45px;
}
.sec1{
  border:yellow 5px solid;
}
.sec2{
  border:yellow 5px solid;
}
.sec3{
  border:yellow 5px solid;
}
.sec4{
  border:yellow 5px solid;
}
.sec5{
  border:yellow 5px solid;
}
.cont_row_2{
  display: flex;
  flex-direction: column;
  border:blue 5px solid;
  padding:10px;
  width:500px;
}
.gallery{
  border:red 5px solid;
  height:200px;
  margin:3px;
}
.post2{
  display:flex;
  flex-direction:row;
  border:red 5px solid;
  height:200px;
  margin:3px;
}
.ip2{
  border:red 5px solid;
  height:200px;
  width:250px;
  
}
.tp2{
  border:red 5px solid;
  height:200px;
  width:250px;
}
.post3{
  border:red 5px solid;
  height:200px;
  margin:3px;
}
.cont_row_3{
  display: flex;
  flex-direction: column;
  border:blue 5px solid;
  width:360px;
}
.lp1_3{
  border:orange 5px solid;
  height:250px;
  width:300px;
  margin:5px;
}
.lp2_3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border:orange 5px solid;
  height:250px;
  width:300px;
  margin:5px;
}
.lp2_3_i{
  border:orange 5px solid;
  width:120px;
  height:250px;
}
.lp2_3_t{
  border:orange 5px solid;
  width:120px;
  height:250px;
}
.lp3_3{
  border:orange 5px solid;
  height:250px;
  width:300px;
  margin:5px;
}